@import '../../css/helpers';

.footer {
	padding: tovw(40px, 'desktop-large', 40px) tovw(32px, 'desktop-large', 32px);
	overflow: hidden;

	.imgs-container {
		display: grid;
		grid-template-columns: 2fr auto;
		gap: tovw(32px, 'desktop-large', 20px);
		margin-bottom: tovw(16px, 'desktop-large', 12px);

		.team-img {
			height: tovw(620px, 'desktop-large', 320px);
			object-fit: cover;
		}

		.QR {
			height: tovw(620px, 'desktop-large', 320px);
			width: auto;
		}
	}

	.footer-heading-text {
		width: 100.8%;
		margin-left: -8px;
		max-width: unset;
		margin-bottom: tovw(16px, 'desktop-large', 16px);
	}

	.links {
		display: flex;
		justify-content: space-between;
		font-size: tovw(18px, 'desktop-large', 12px);
		line-height: 134%;
		letter-spacing: 0.01em;
		font-weight: 400;
		text-transform: uppercase;

		> div {
			display: flex;
			flex-direction: column;

			ul {
				display: flex;
			}
		}
	}
}

.pre-footer {
	display: flex;
	align-items: center;
	gap: tovw(100px, 'desktop-large', 100px);
	width: tovw(1320px, 'desktop-large', 1320px);
	margin: tovw(330px, 'desktop-large', 80px) auto;

	p {
		font-size: tovw(36px, 'desktop-large', 28px);
		line-height: 130%;
		letter-spacing: 0.01em;
		font-weight: 400;
	}

	.left-content {
		overflow: hidden;
		width: tovw(768px, 'desktop-large', 568px);
	}

	// .QR {
	// 	position: absolute;
	// 	right: tovw(256px, 'desktop-large', 26px);
	// 	width: tovw(436px, 'desktop-large', 236px);
	// 	height: tovw(436px, 'desktop-large', 236px);
	// }

	.terminal {
		border-radius: tovw(14px, 'desktop-large', 14px);
		border: 1px solid #3a3a3a;
		margin-top: tovw(42px, 'desktop-large', 42px);
		overflow: hidden;

		.content {
			display: flex;
			align-items: center;
			padding: 0 tovw(28px, 'desktop-large', 28px);
			height: tovw(100px, 'desktop-large', 100px);
			text-transform: uppercase;
			font-family: var(--font-jetbrains-mono);
			z-index: 50;

			p {
				font-size: tovw(32px, 'desktop-large', 18px);
			}
		}

		.upper-bar {
			display: flex;
			align-items: center;
			padding: 0 tovw(16px, 'desktop-large', 16px);
			height: tovw(41px, 'desktop-large', 41px);
			background-color: #121212;
			border-bottom: 1px solid #3a3a3a;
			text-transform: uppercase;
			font-family: var(--font-jetbrains-mono);
			font-size: tovw(21px, 'desktop-large', 21px);
			z-index: 50;

			.dots {
				display: flex;
				gap: tovw(7px, 'desktop-large', 7px);
				padding-right: tovw(254px, 'desktop-large', 164px);

				.circle {
					display: block;
					border-radius: 50%;
					width: tovw(13px, 'desktop-large', 13px);
					height: tovw(13px, 'desktop-large', 13px);
					background-color: white;
				}
			}
		}
	}
}
