@import '../../css/helpers';

.footer {
	padding: tovw(40px, 'desktop-large', 40px) tovw(32px, 'desktop-large', 32px);

	.team-img {
		width: tovw(1203px, 'desktop-large', 1203px);
		margin-bottom: tovw(32px, 'desktop-large', 16px);
	}

	h2 {
		font-weight: 900;
		margin: 0 -6px;
		letter-spacing: 0.015em;
		font-size: tovw(153.65px, 'desktop-large', 153.65px);
		line-height: 105.5%;
	}

	.links {
		display: flex;
		justify-content: space-between;
		font-size: tovw(18px, 'desktop-large', 18px);
		line-height: 134%;
		letter-spacing: 0.01em;
		font-weight: 400;
		text-transform: uppercase;

		> div {
			display: flex;
			flex-direction: column;

			ul {
				display: flex;
			}
		}
	}
}

.pre-footer {
	display: flex;
	gap: tovw(100px, 'desktop-large', 100px);
	width: tovw(1320px, 'desktop-large', 1320px);
	margin: tovw(256px, 'desktop-large', 256px) auto;

	p {
		font-size: tovw(36px, 'desktop-large', 28px);
		line-height: 130%;
		letter-spacing: 0.01em;
		font-weight: 400;
	}

	.QR {
		width: tovw(436px, 'desktop-large', 436px);
		height: tovw(436px, 'desktop-large', 436px);
	}

	.terminal {
		border-radius: tovw(14px, 'desktop-large', 14px);
		border: 1px solid #3a3a3a;
		overflow: hidden;

		.content {
			display: flex;
			align-items: center;
			padding: 0 tovw(28px, 'desktop-large', 28px);
			height: tovw(100px, 'desktop-large', 100px);
			font-size: tovw(32px, 'desktop-large', 32px);
			text-transform: uppercase;
		}

		.upper-bar {
			display: flex;
			align-items: center;
			padding: 0 tovw(16px, 'desktop-large', 16px);
			height: tovw(41px, 'desktop-large', 41px);
			background-color: #121212;
			border-bottom: 1px solid #3a3a3a;
			z-index: 50;

			.dots {
				display: flex;
				gap: tovw(7px, 'desktop-large', 7px);

				.circle {
					display: block;
					border-radius: 50%;
					width: tovw(13px, 'desktop-large', 13px);
					height: tovw(13px, 'desktop-large', 13px);
					background-color: white;
				}
			}
		}
	}
}
