@import '../../css/helpers';

.footer {
	padding: tovw(40px, 'desktop-large', 40px) tovw(32px, 'desktop-large', 32px);

	.team-img {
		width: tovw(1203px, 'desktop-large', 1203px);
		margin-bottom: tovw(32px, 'desktop-large', 16px);
	}

	h2 {
		font-weight: 900;
		margin: 0 -6px;
		letter-spacing: 0.015em;
		font-size: tovw(153.65px, 'desktop-large', 153.65px);
		line-height: 105.5%;
	}

	.links {
		display: flex;
		justify-content: space-between;
		font-size: tovw(18px, 'desktop-large', 18px);
		line-height: 134%;
		letter-spacing: 0.01em;
		font-weight: 400;
		text-transform: uppercase;

		> div {
			display: flex;
			flex-direction: column;

			ul {
				display: flex;
			}
		}
	}
}

.pre-footer {
	display: flex;
	gap: tovw(100px, 'desktop-large', 100px);
	width: tovw(1320px, 'desktop-large', 1320px);
	margin: tovw(256px, 'desktop-large', 256px) auto;

	p {
		font-size: tovw(36px, 'desktop-large', 28px);
		line-height: 130%;
		letter-spacing: 0.01em;
		font-weight: 400;
	}

	.QR {
		width: tovw(436px, 'desktop-large', 436px);
		height: tovw(436px, 'desktop-large', 436px);
	}
}
