@import "../../css/helpers";

.header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: tovw(16px) tovw(32px);
  grid-template-columns: repeat(3, 1fr);

  a {
    width: max-content;
  }

  p {
    font-size: tovw(24px);
    font-weight: 800;
    line-height: 1.2;
    max-width: tovw(537px);
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }
}

.logo {
  width: tovw(251px);
  height: tovw(36px);
}

.star {
  width: tovw(679px);
  height: tovw(120px);
}
